<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        {%csrf_token%}
        {{form}}
        <button type="submit">Add Task</button>
    </form>
    <div>
        {% for  task in tasks %}
            <div>{{ task.task_name}} - {{ task.task_description}} - {{ task.completed}}</div>
        {% endfor %}
    </div>
</body>
</html>