<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        {%csrf_token%}
        <label for=""> task name:</label>
        <input type="text" name="task_name"><br>
        <label for=""> task description:</label>
        <input type="text" name="task_description"><br>
        <label for=""> task completed:</label>
        <input type="checkbox" name="completed"><br>
        <button type="submit">Add Task</button>
    </form>
    <div>
        {% for  task in tasks %}
            <div>{{ task.task_name}} - {{ task.task_description}} - {{ task.completed}}</div>
        {% endfor %}
    </div>
</body>
</html>